.grid-container {
  max-width: 90vw;
  max-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Grid {
  font-size: 0;
  display: inline-block;
  border-radius: 16px;
  overflow: hidden;
  border: 2px solid rgb(175, 216, 248);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 100%;
  max-height: 100%;
}
div {
  padding: 0px;
  margin: 0px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}
