.card-spotlight {
  position: relative;
  border-radius: 1.5rem;
  border: 1px solid #222;
  background-color: #180e28;
  color: aliceblue;
  padding: 2.5rem;
  overflow: hidden;
  min-height: 420px;
  display: flex;
  flex-direction: column;
  --mouse-x: 50%;
  --mouse-y: 50%;
  --spotlight-color: #56055d;
}

/* .menu-spotlight-card.card-spotlight {
  padding: 0;
  min-height: auto;
  color: white;
  background-color: #180e28;
} */

.menu-container {
  background-color: #180e28;
}

.card-spotlight::before {
  content: '';
  position: absolute;
  color: aliceblue;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: radial-gradient(
    circle at var(--mouse-x) var(--mouse-y),
    var(--spotlight-color),
    transparent 80%
  );
  opacity: 0;
  transition: opacity 0.5s ease;
  pointer-events: none;
}

.card-spotlight:hover::before {
  opacity: 0.6;
}
